@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: Poppins, sans-serif;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Header */
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 100;
  transition: 0.5s;
}

header.sticky /* transition effect of header when scrolling down */ {
  background: #333;
  box-shadow: 0 0.1rem 0.5rem rgba(51, 51, 51, 0.5);
}

header a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

/* Navbar */
.navbar-brand {
  font-size: 32px !important;
}

.navbar-brand,
.nav-link {
  color: white !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.home {
  background-image: url(assets/bg6.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#booklist,
#animation {
  height: 100vh;
  color: white;
  background-image: linear-gradient(to right, #dfb8bd, #ffceb3);
}

#bookOptions {
  width: 100%;
}

form,
.card {
  width: 30rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

#formAddBook {
  background: linear-gradient(to right, #d67c74, #fd9d8f);
}

.card {
  color: white;
  height: 18rem;
  transition: width 1s ease-in-out;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

.btn {
  background-color: #ff416c;
  border: none;
  outline: none;
}
.btn:hover {
  background-color: #cf3559;
  outline: none;
}
.btn:focus {
  background-color: #cf3559;
  outline: none;
}

#btnToggle {
  background-color: #ff416c;
  border: none;
}
.btn-toggle:hover {
  background-color: #cf3559;
}
#btnToggle:focus {
  background-color: #cf3559;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.active {
  width: 40rem;
  animation: gradient 5s ease infinite;
}
